.cardBox{
           background: rgba(255, 255, 255, 0.096);
           border: 2px solid rgba(255, 255, 255, 0.26);
           backdrop-filter: blur(9.39533px);
           /* Note: backdrop-filter has minimal browser support */
           
           border-radius: 20px; 
           color:"white"      
}
.cardBox:hover{
 transform: scale(1.05);                     
}
.titleline{
           display: -webkit-box;
           -webkit-line-clamp:1;
           -webkit-box-orient: vertical;  
           overflow: hidden;
           text-overflow: ellipsis;      
}
.contentline{
           display: -webkit-box;
           -webkit-line-clamp:6;
           -webkit-box-orient: vertical;  
           overflow: hidden;
           text-overflow: ellipsis;
           line-height: normal;
}
.morebtn{
           color:white;
           padding:10px 10px;
            background-image: linear-gradient(270deg, #BF34FB 0%, #552EFA 100%);
            border-radius: 9px;
}