.navbarbox{
    width: 98%;
    margin: auto;
    height:50px;
    color:white;
    background: linear-gradient(270deg, #BF34FB 0%, #552EFA 100%);
border-radius: 25px;
}
.cancelbtn{
    color:white;
    background: linear-gradient(270deg, #BF34FB 0%, #552EFA 100%);
border-radius: 25px;
}
.cancelbtn:hover{
    cursor: pointer;
    border:2px solid white;
}
