.titlebox{
           background: rgba(255, 255, 255, 0.096);
           border: 2px solid rgba(255, 255, 255, 0.26);
           backdrop-filter: blur(9.39533px);
           /* Note: backdrop-filter has minimal browser support */
           
           border-radius: 10px; 
           color:"white"   ;
           text-align: left;
           margin-top: 20px;
           height: auto;
           display: flex;
           flex-direction: column;
           align-items: center;
}
.imagebox{
 width: fit-content;
 height: fit-content;
 background: rgba(255, 255, 255, 0.096);
 border: 2px solid rgba(255, 255, 255, 0.26);
 backdrop-filter: blur(9.39533px);
 /* Note: backdrop-filter has minimal browser support */
 
 border-radius: 10px; 
}
.imagebox>img{
           height: 400px;
           width: 400px;
}